

// basic spacing units
$spacing-unit: rem(20px);
$spacing-unit--x-small: rem(10px);
$spacing-unit--small: rem(15px);
$spacing-unit--medium: rem(30px);
$spacing-unit--large: rem(40px);
$spacing-unit--x-large: rem(60px);
$rel-spacing-unit: 1em;
$rel-spacing-unit--small: .5em;


// color variables
$theme-color-new:blue;
$theme-color: #7397c7;
$theme-color-alt: hsl(200, 79%, 96%);
$theme-color-one:#2a425f;
$them-color-two: black;




// $font variable

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$w--bold: 900;

